In [1]:
import pandas as pd

In [2]:
dat=pd.read_csv('https://github.com/prasertcbs/tutorial/raw/master/mpg.csv')
dat

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [3]:
df=dat.sample(10).reset_index(drop=True)
df

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
0,volkswagen,gti,2.8,1999,6,manual(m5),f,17,24,r,compact
1,dodge,dakota pickup 4wd,3.7,2008,6,manual(m6),4,15,19,r,pickup
2,honda,civic,2.0,2008,4,manual(m6),f,21,29,p,subcompact
3,dodge,caravan 2wd,3.3,1999,6,auto(l4),f,16,22,r,minivan
4,hyundai,sonata,2.4,1999,4,auto(l4),f,18,26,r,midsize
5,nissan,pathfinder 4wd,5.6,2008,8,auto(s5),4,12,18,p,suv
6,dodge,caravan 2wd,4.0,2008,6,auto(l6),f,16,23,r,minivan
7,volkswagen,new beetle,2.5,2008,5,manual(m5),f,20,28,r,subcompact
8,jeep,grand cherokee 4wd,4.7,2008,8,auto(l5),4,14,19,r,suv
9,dodge,durango 4wd,5.9,1999,8,auto(l4),4,11,15,r,suv

In [4]:
df.manufacturer.str.capitalize()   #ทำให้ตัวเเรกตัวใหญ่

0    Volkswagen
1         Dodge
2         Honda
3         Dodge
4       Hyundai
5        Nissan
6         Dodge
7    Volkswagen
8          Jeep
9         Dodge
Name: manufacturer, dtype: object

In [5]:
df['trans_am']=df.trans.map(lambda v: 'Auto' if v[0]=='a' else 'Manual').astype('category')
df

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,trans_am
0,volkswagen,gti,2.8,1999,6,manual(m5),f,17,24,r,compact,Manual
1,dodge,dakota pickup 4wd,3.7,2008,6,manual(m6),4,15,19,r,pickup,Manual
2,honda,civic,2.0,2008,4,manual(m6),f,21,29,p,subcompact,Manual
3,dodge,caravan 2wd,3.3,1999,6,auto(l4),f,16,22,r,minivan,Auto
4,hyundai,sonata,2.4,1999,4,auto(l4),f,18,26,r,midsize,Auto
5,nissan,pathfinder 4wd,5.6,2008,8,auto(s5),4,12,18,p,suv,Auto
6,dodge,caravan 2wd,4.0,2008,6,auto(l6),f,16,23,r,minivan,Auto
7,volkswagen,new beetle,2.5,2008,5,manual(m5),f,20,28,r,subcompact,Manual
8,jeep,grand cherokee 4wd,4.7,2008,8,auto(l5),4,14,19,r,suv,Auto
9,dodge,durango 4wd,5.9,1999,8,auto(l4),4,11,15,r,suv,Auto

In [6]:
def am(v):
    if v[0]=='a':
        return 'Auto'
    else:
        return 'Manual'

In [7]:
df.trans.map(am)

0    Manual
1    Manual
2    Manual
3      Auto
4      Auto
5      Auto
6      Auto
7    Manual
8      Auto
9      Auto
Name: trans, dtype: object

In [8]:
df['drv2']=df.drv.map({'f':'Front', 'r':'Rear', '4':'4-wheel'}).astype('category')
df

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,trans_am,drv2
0,volkswagen,gti,2.8,1999,6,manual(m5),f,17,24,r,compact,Manual,Front
1,dodge,dakota pickup 4wd,3.7,2008,6,manual(m6),4,15,19,r,pickup,Manual,4-wheel
2,honda,civic,2.0,2008,4,manual(m6),f,21,29,p,subcompact,Manual,Front
3,dodge,caravan 2wd,3.3,1999,6,auto(l4),f,16,22,r,minivan,Auto,Front
4,hyundai,sonata,2.4,1999,4,auto(l4),f,18,26,r,midsize,Auto,Front
5,nissan,pathfinder 4wd,5.6,2008,8,auto(s5),4,12,18,p,suv,Auto,4-wheel
6,dodge,caravan 2wd,4.0,2008,6,auto(l6),f,16,23,r,minivan,Auto,Front
7,volkswagen,new beetle,2.5,2008,5,manual(m5),f,20,28,r,subcompact,Manual,Front
8,jeep,grand cherokee 4wd,4.7,2008,8,auto(l5),4,14,19,r,suv,Auto,4-wheel
9,dodge,durango 4wd,5.9,1999,8,auto(l4),4,11,15,r,suv,Auto,4-wheel