In [1]:
import pandas as pd

In [2]:
# http://www.baskinrobbins.ca/nutritional-information/
df=pd.read_table('https://raw.githubusercontent.com/prasertcbs/basic-dataset/master/BaskinRobbins.tsv',
                nrows=5)
df

,Flavour,Calories,Total Fat (g),Trans Fat (g),Carbohydrates (g),Sugars (g),Protein (g),Sugar Alcohol (g)
0,Bananas Foster,160,8,0.2,20,16,2,NaN
1,Baseball Nut,160,9,0.2,19,13,3,NaN
2,Beavertails Pastry,170,9,0.3,21,15,3,NaN
3,Blackberry Frozen Yogurt,120,4,0.1,17,16,3,NaN
4,Blue Raspberry Sherbet,130,2,0.1,26,20,2,NaN

## Example 1: rename columns

In [3]:
df.rename(columns={'Flavour':'flavor'}, inplace=True)
df

,flavor,Calories,Total Fat (g),Trans Fat (g),Carbohydrates (g),Sugars (g),Protein (g),Sugar Alcohol (g)
0,Bananas Foster,160,8,0.2,20,16,2,NaN
1,Baseball Nut,160,9,0.2,19,13,3,NaN
2,Beavertails Pastry,170,9,0.3,21,15,3,NaN
3,Blackberry Frozen Yogurt,120,4,0.1,17,16,3,NaN
4,Blue Raspberry Sherbet,130,2,0.1,26,20,2,NaN

In [4]:
df.rename(columns={'Calories':'cal', 'Carbohydrates (g)':'carb'}, inplace=True)
df

,flavor,cal,Total Fat (g),Trans Fat (g),carb,Sugars (g),Protein (g),Sugar Alcohol (g)
0,Bananas Foster,160,8,0.2,20,16,2,NaN
1,Baseball Nut,160,9,0.2,19,13,3,NaN
2,Beavertails Pastry,170,9,0.3,21,15,3,NaN
3,Blackberry Frozen Yogurt,120,4,0.1,17,16,3,NaN
4,Blue Raspberry Sherbet,130,2,0.1,26,20,2,NaN

In [5]:
df.columns

Index(['flavor', 'cal', 'Total Fat (g)', 'Trans Fat (g)', 'carb', 'Sugars (g)',
       'Protein (g)', 'Sugar Alcohol (g)'],
      dtype='object')

In [6]:
df.columns.str.replace(r' ', '_')

Index(['flavor', 'cal', 'Total_Fat_(g)', 'Trans_Fat_(g)', 'carb', 'Sugars_(g)',
       'Protein_(g)', 'Sugar_Alcohol_(g)'],
      dtype='object')

In [7]:
df.columns = df.columns.str.replace(r' ', '_')
df

,flavor,cal,Total_Fat_(g),Trans_Fat_(g),carb,Sugars_(g),Protein_(g),Sugar_Alcohol_(g)
0,Bananas Foster,160,8,0.2,20,16,2,NaN
1,Baseball Nut,160,9,0.2,19,13,3,NaN
2,Beavertails Pastry,170,9,0.3,21,15,3,NaN
3,Blackberry Frozen Yogurt,120,4,0.1,17,16,3,NaN
4,Blue Raspberry Sherbet,130,2,0.1,26,20,2,NaN

In [8]:
df.columns = df.columns.str.lower()
df

,flavor,cal,total_fat_(g),trans_fat_(g),carb,sugars_(g),protein_(g),sugar_alcohol_(g)
0,Bananas Foster,160,8,0.2,20,16,2,NaN
1,Baseball Nut,160,9,0.2,19,13,3,NaN
2,Beavertails Pastry,170,9,0.3,21,15,3,NaN
3,Blackberry Frozen Yogurt,120,4,0.1,17,16,3,NaN
4,Blue Raspberry Sherbet,130,2,0.1,26,20,2,NaN

In [9]:
df.columns

Index(['flavor', 'cal', 'total_fat_(g)', 'trans_fat_(g)', 'carb', 'sugars_(g)',
       'protein_(g)', 'sugar_alcohol_(g)'],
      dtype='object')

In [10]:
df=pd.read_table('https://raw.githubusercontent.com/prasertcbs/basic-dataset/master/BaskinRobbins.tsv',
                nrows=5)
df

,Flavour,Calories,Total Fat (g),Trans Fat (g),Carbohydrates (g),Sugars (g),Protein (g),Sugar Alcohol (g)
0,Bananas Foster,160,8,0.2,20,16,2,NaN
1,Baseball Nut,160,9,0.2,19,13,3,NaN
2,Beavertails Pastry,170,9,0.3,21,15,3,NaN
3,Blackberry Frozen Yogurt,120,4,0.1,17,16,3,NaN
4,Blue Raspberry Sherbet,130,2,0.1,26,20,2,NaN

In [11]:
df.columns = df.columns.str.lower().str.replace(r' ', '_')
df

,flavour,calories,total_fat_(g),trans_fat_(g),carbohydrates_(g),sugars_(g),protein_(g),sugar_alcohol_(g)
0,Bananas Foster,160,8,0.2,20,16,2,NaN
1,Baseball Nut,160,9,0.2,19,13,3,NaN
2,Beavertails Pastry,170,9,0.3,21,15,3,NaN
3,Blackberry Frozen Yogurt,120,4,0.1,17,16,3,NaN
4,Blue Raspberry Sherbet,130,2,0.1,26,20,2,NaN

## Examle 2: rename index

In [12]:
df.index.names

FrozenList([None])

In [13]:
df.index.names=['id']

In [14]:
df

,flavour,calories,total_fat_(g),trans_fat_(g),carbohydrates_(g),sugars_(g),protein_(g),sugar_alcohol_(g)
id,,,,,,,,
0,Bananas Foster,160,8,0.2,20,16,2,NaN
1,Baseball Nut,160,9,0.2,19,13,3,NaN
2,Beavertails Pastry,170,9,0.3,21,15,3,NaN
3,Blackberry Frozen Yogurt,120,4,0.1,17,16,3,NaN
4,Blue Raspberry Sherbet,130,2,0.1,26,20,2,NaN

In [15]:
df.set_index(['flavour', 'calories'], inplace=True)
df

,,total_fat_(g),trans_fat_(g),carbohydrates_(g),sugars_(g),protein_(g),sugar_alcohol_(g)
flavour,calories,,,,,,
Bananas Foster,160,8,0.2,20,16,2,NaN
Baseball Nut,160,9,0.2,19,13,3,NaN
Beavertails Pastry,170,9,0.3,21,15,3,NaN
Blackberry Frozen Yogurt,120,4,0.1,17,16,3,NaN
Blue Raspberry Sherbet,130,2,0.1,26,20,2,NaN

In [16]:
df.index.names=['FLAVOR', 'CAL']
df

,,total_fat_(g),trans_fat_(g),carbohydrates_(g),sugars_(g),protein_(g),sugar_alcohol_(g)
FLAVOR,CAL,,,,,,
Bananas Foster,160,8,0.2,20,16,2,NaN
Baseball Nut,160,9,0.2,19,13,3,NaN
Beavertails Pastry,170,9,0.3,21,15,3,NaN
Blackberry Frozen Yogurt,120,4,0.1,17,16,3,NaN
Blue Raspberry Sherbet,130,2,0.1,26,20,2,NaN